
:root {
    --lv_blue: #001c4c;
}


/* TIMES HEADLINE */


@font-face{
    font-family: 'HLight';
    src: url('./fonts/TiemposHeadline-Light.woff2') format('woff');
}

@font-face{
  font-family: 'HRegular';
  src: url('./fonts/TiemposHeadline-Regular.woff2') format('woff');
}


@font-face{
  font-family: 'HMedium';
  src: url('./fonts/TiemposHeadline-Medium.woff2') format('woff');
}


@font-face{
  font-family: 'HSemibold';
  src: url('./fonts/TiemposHeadline-Semibold.woff2') format('woff');
}


@font-face{
  font-family: 'HBold';
  src: url('./fonts/TiemposHeadline-Bold.woff2') format('woff');
}


@font-face{
  font-family: 'HBlack';
  src: url('./fonts/TiemposHeadline-Black.woff2') format('woff');
}






/* TIMES TEXT */

@font-face{
  font-family: 'TRegular';
  src: url('./fonts/TiemposText-Regular.woff2') format('woff');
}


@font-face{
  font-family: 'TRegularItalic';
  src: url('./fonts/TiemposTextApp-RegularItalic.woff') format('woff');
}


@font-face{
  font-family: 'TMedium';
  src: url('./fonts/TiemposText-Medium.woff2') format('woff');
}


@font-face{
  font-family: 'TSemibold';
  src: url('./fonts/TiemposText-Semibold.woff2') format('woff');
}


@font-face{
  font-family: 'TBold';
  src: url('./fonts/TiemposText-Bold.woff2') format('woff');
}


/* font-family: 'TRegular', serif; */

  

  
  

html{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

h1,h2,h3, h4, h5, h6, p{
    margin: 0;
    
}



.lv_devWrapper{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}


/* TITLE */

#lv_title{
    margin: 0 auto;
    padding: 15px 10%;
    text-align: center;

}

#lv_title h3{
    font-family: 'HMedium', serif;
    margin-top: 5px;
    margin-bottom: 7px;
}

#lv_title p{
    font-size: .8rem;
    font-family: 'TRegular', serif;
    font-style: italic;
}



/* CAROUSEL  */
.lv_carousel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    margin-top: 10px;
    margin-bottom: 15px;
}


.lv_carousel-items {
    display: flex;
    width: 100%;
    margin-left: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.lv_carousel-items::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.lv_carousel-itemWrapper{
    padding: 5px;

}


.lv_carousel-item {
    flex: 0 0 22%;
    margin: 10px;
    border: 2px solid #d7d7d7;
    position: relative;
    cursor: pointer;
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}


.lv_carousel-item img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.lv_carousel-caption {
    
}


.lv_carousel-caption p{
    font-family: 'TRegular', serif;
    text-align: center;
    font-size: .63rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--lv_blue);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


/* Carousel signs */




.lv_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20%);
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 1001;
    font-size: 36px;
    color: #ffffff; 
    height: 81px;
    width: 20px;
    border-radius: 3px;
}

.lv_arrow-left {
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%);
}

.lv_arrow-right {
    position: absolute; 
    top: 50%; 
    right: 0; 
    transform: translateY(-50%);
}

.lv_arrow span{
   
}





/*  MAP */

.lv_mapWrapper{
    position: relative;
    flex-grow: 1;
}


.lv_map-container {
    width: 100%;
    height: 100%;
}

.lv_inicio{
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 10002;
    cursor:pointer;
}

.lv_inicio span{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background: #fff;
    text-transform: uppercase;
    font-family: 'TMedium', serif;
    -webkit-font-smoothing: antialiased;
    font-size: .9rem;
    letter-spacing: .7px;
}




/* MODAL */



.lv_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  z-index: 1000;
  visibility: hidden;
  max-height: 90vh;
  width: 85vw;
  max-width: 500px;;
}

.lv_modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
  visibility: visible;
}

.lv_modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
}

.lv_modal-content a{
    display: inline-block;
    text-decoration: none;
    color: var(--lv_blue);

}

.lv_modalWrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.lv_modal-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.lv_modal-info {
    flex-grow: 1;
    
}

.lv_modalInfoTitle{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'HMedium', serif;
}

.lv_modalInfoDetail{
    font-size: 1rem;
    font-family: 'TRegular', serif;
    -webkit-font-smoothing: antialiased;
}

.lv_modalInfoDetail span{
  display: inline-block;
  margin-left: 4px;
  transform: rotate(30deg);
}




.lv_close {
    position: absolute;
    top: -2px;
    right: -2px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

